<table class="table">
  <thead>
  <tr scope="row">

    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th sscope="col">Email</th>
    <th scope="col">Sexo</th>
    <th scope="col">Imagen</th>
    <th scope="col">FechaNac</th>
    <th scope="col">Accion</th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let user of listadoUsuarios">

    <td >{{user.Nombre}}</td>
    <td >{{user.Apellido}}</td>
    <td >{{user.email}}</td>

    <td>{{user.Sexo}}</td>
    <td>
      <img [src]="user.FotoPerfil" alt="" style="width: 50px; height: 50px;">
    </td>
    <td >{{user.FechaNac}}</td>
    <td>
      <button (click)="onSelectUsuario(user)" >Seleccionar</button>
    </td>
  </tr>
  </tbody>
</table>

